Repository guillaumefalvet/commit-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

build: lintrc & stylerc options
  .stylelintrc.json
Due: prettier --write

chore: lint
  test/style.scss
Due: stylelint --fix

chore: lint
  .vscode/settings.json
  package.json
Due: prettier --write

build: lintrc & stylerc options
  .lintstagedrc.json
Due: prettier --write

fix: removed style linter
  .stylelintrc.json
  package.json
  test/style.scss
Due: prettier --write, stylelint --fix

ci: changed format on save to true
  .vscode/settings.json
Due: prettier --write

ci: removed format on save, added md file in the lint stagged
  .lintstagedrc.json
  .vscode/settings.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.html) or (any of: *.{js,ts})) or (any of: *.json)
  stylelint --fix: any of: *.{css,less,scss,sass}
